#rpCont { /*Reports container*/
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
	background-color: none;
}
#rpFullGradCheat {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(-50deg, rgb(120, 120, 120, 0.3) 48%, rgb(0, 0, 0, 0) 48%);
	/*background-image: linear-gradient(-50deg, #0652c5 48%, rgb(0, 0, 0, 0) 48%);*/
	
	z-index: 40;
}
#rpLeftGradCheat { /*Gradient cheat from left hand corner*/
	position: absolute;
	width: 50%;
	height: 100%;
	background-image: linear-gradient(to bottom right, rgb(80, 80, 80, 0.3) 0%, rgb(0, 0, 0, 0) 50%);
	z-index: 45;
}
#rpRightGradCheat { /*Gradient cheat from left hand corner*/
	position: absolute;
	width: 80%;
	height: 100%;
	margin-top: 0%;
	margin-left: 30%;
	background-image: linear-gradient(to top left, rgb(200, 200, 200, 0.3) 0%, rgb(0, 0, 0, 0) 40%);
	z-index: 45;
}
#rpTitleBar {
	width: 30vw;
	height: 5vw;
	margin-top: 15vh;
	margin-left: 13vw;
	border-bottom: solid 2px rgb(255, 255, 255, 0.2);
}
#rpTitleIcon {
	float: left;
	width: 5vw;
	height: 100%;
	margin-left: 0.5vw;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 50% 50%;
	background-image: url("../assets/icons/report3.svg");
}
#rpTitleText {
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	font-family: openMedium;
	font-size: 2.8vw;
	color: white;
	text-shadow: 0px 0px 10px rgb(0, 0, 0, .5);
}
#rpSubTitleBar {
	position: relative;
	width: 50vw;
	height: 14vh;
	margin-top: 5vh;
	margin-left: 12vw;
}
.rpSubTitleText {
	display: inline-block;
	transform: translateY(-130%);
	margin-left: 1vw;
	font-family: openMedium;
	font-size: 1.8vw;
	color: white;
}
.rpDateCont {
	position: relative;
	display: inline-block;
	height: 100%;
	min-width: 8vw;
	margin-left: 1vw;
}
.rpDateTextIcon {
	position: absolute;
	width: 3vw;
	height: 55%;
	margin-left: 0.5vw;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 50% 50%;
	background-image: url("../assets/icons/calender.svg");
	z-index: 100;
}
.rpDateTextCont {
	position: relative;
	height: 55%;
	padding-left: 4vw;
	padding-right: 2vw;
	border-radius: 12px;
	background-color: var(--focus);
	/*background-color: rgb(100, 100, 100);*/
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
	cursor: pointer;
}
.rpDateText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: openSemiBold;
	font-size: 1.8vw;
	color: white;
	cursor: pointer;
}
.rpTimeTextIcon {
	position: absolute;
	width: 3vw;
	height: 34%;
	margin-top: 6%;
	margin-left: 0.1vw;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 50%;
	background-image: url("../assets/icons/clock.svg");
	z-index: 100;
}
.rpTimeTextCont {
	position: relative;
	height: 34%;
	width: 38%;
	margin-top: 6%;
	padding-left: 3vw;
	padding-right: 1vw;
	border-radius: 12px;
	background-color: var(--focus);
	/*background-color: rgb(100, 100, 100);*/
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
	cursor: pointer;
}
.rpTimeText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: openSemiBold;
	font-size: 1.3vw;
	text-align: center;
	color: white;
	cursor: pointer;
}
.rpCBPanel {
	display: block;
	float: left;
	width: 15vw;
	margin-top: 5vh;
	margin-left: 2vw;
}
.rpCBPanelFirst {
	margin-left: 13vw;
}
.rpCBCont {
	position: relative;
	height: 5vh;
	width: 100%;
	margin-top: 1vh;
}
.rpCBHolder {
 	float: left;
	margin-top: 1.25vh;
	height: 2.5vh;
	width: 2.5vh;
}
.rpCBTextCont {
 	float: left;
	height: 100%;
	margin-left: 1vw;
}
.rpCBText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: open;
	font-size: 1.2vw;
	text-align: left;
	color: rgb(180, 180, 180);
	cursor: pointer;
}
#rpGenerateButton {
	position: absolute;
	width: 8vw;
	height: 6vh;
	margin-top: 34vh;
	margin-left: 13vw;
	background-color: rgb(6, 207, 36);
	background-color: var(--focus);
	border-radius: 12px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
	cursor: pointer;
	transition: all 0.3s;
}
#rpGenerateButton:hover {
	background-color: rgb(100, 207, 100);
}
#rpGenerateText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: openBold;
	font-size: 1.2vw;
	color: white;
	text-align: center;
	cursor: pointer;
}

#rpFileCont {
	position: absolute;
	width: 50vw;
	height: 100vh;
	top: 0;
	margin-left: 50vw;
}
.rpFile {
	width: 20vw;
	height: 30vh;
	margin-top: 20vh;
	margin-left: 10vw;
	background-color: red;
}