#rpCont { /*Reports container*/
	position: absolute;
	width: 85%;
	height: 90%;
	margin-left: 10vw;
	margin-top: 5vh;
}
#tmpButton {
	position: absolute;
	width: 6vw;
	height: 4vh;
	margin-left: 15vw;
	margin-top: 15vh;
	border-radius: 12px;
	background-color: var(--focus);
	text-align: center;
	cursor: pointer;
}