#rpCont { /*Reports container*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: none;
}
/*background-image: linear-gradient(-50deg, #0652c5 48%, rgb(0, 0, 0, 0) 48%);*/
#rpLeftSplitCheat {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(-50deg, rgb(0, 0, 0, 0) 48%, var(--bg) 48%);
	z-index: 90;
}
#rpRightSplitCheat {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(-50deg, rgb(120, 120, 120, 0.3) 48%, rgb(0, 0, 0, 0) 48%);
	z-index: 80;
}
#rpLeftGradCheat { /*Gradient cheat from left hand corner*/
	position: absolute;
	width: 50%;
	height: 100%;
	background-image: linear-gradient(to bottom right, rgb(80, 80, 80, 0.3) 0%, rgb(0, 0, 0, 0) 50%);
	z-index: 45;
}
#rpRightGradCheat { /*Gradient cheat from left hand corner*/
	position: absolute;
	width: 80%;
	height: 100%;
	margin-top: 0%;
	margin-left: 30%;
	background-image: linear-gradient(to top left, rgb(200, 200, 200, 0.3) 0%, rgb(0, 0, 0, 0) 40%);
	z-index: 45;
}
#rpTitleBar {
	position: relative;
	width: 30vw;
	height: 5vw;
	margin-top: 15vh;
	margin-left: 13vw;
	border-bottom: solid 2px rgb(255, 255, 255, 0.2);
	z-index: 100;
}
#rpTitleIcon {
	float: left;
	width: 5vw;
	height: 100%;
	margin-left: 0.5vw;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 50% 50%;
	background-image: url("../assets/icons/report3.svg");
}
#rpTitleText {
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	font-family: openMedium;
	font-size: 2.8vw;
	color: white;
	text-shadow: 0px 0px 10px rgb(0, 0, 0, .5);
}
#rpSubTitleBar {
	position: relative;
	width: 50vw;
	height: 14vh;
	margin-top: 5vh;
	margin-left: 12vw;
	z-index: 100;
}
.rpSubTitleText {
	display: inline-block;
	transform: translateY(-130%);
	margin-left: 1vw;
	font-family: openMedium;
	font-size: 1.8vw;
	color: white;
}
.rpDateCont {
	position: relative;
	display: inline-block;
	height: 100%;
	min-width: 8vw;
	margin-left: 1vw;
}
.rpDateTextIcon {
	position: absolute;
	width: 3vw;
	height: 55%;
	margin-left: 0.5vw;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 50% 50%;
	background-image: url("../assets/icons/calender.svg");
	z-index: 110;
}
.rpDateTextCont {
	position: relative;
	height: 55%;
	padding-left: 4vw;
	padding-right: 2vw;
	border-radius: 12px;
	background-color: var(--focus);
	/*background-color: rgb(100, 100, 100);*/
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
	cursor: pointer;
}
.rpDateText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: openSemiBold;
	font-size: 1.8vw;
	color: white;
	cursor: pointer;
}
.rpTimeTextIcon {
	position: absolute;
	width: 3vw;
	height: 34%;
	margin-top: 6%;
	margin-left: 0.1vw;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 50%;
	background-image: url("../assets/icons/clock.svg");
	z-index: 110;
}
.rpTimeTextCont {
	position: relative;
	height: 34%;
	width: 38%;
	margin-top: 6%;
	padding-left: 3vw;
	padding-right: 1vw;
	border-radius: 12px;
	background-color: var(--focus);
	/*background-color: rgb(100, 100, 100);*/
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
	cursor: pointer;
}
.rpTimeText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: openSemiBold;
	font-size: 1.3vw;
	text-align: center;
	color: white;
	cursor: pointer;
}
.rpCBPanel {
	display: block;
	float: left;
	width: 15vw;
	margin-top: 5vh;
	margin-left: 2vw;
	z-index: 100;
}
.rpCBPanelFirst {
	margin-left: 13vw;
}
.rpCBCont {
	position: relative;
	height: 5vh;
	width: 100%;
	margin-top: 1vh;
	z-index: 100;
}
.rpCBHolder {
 	float: left;
	margin-top: 1.25vh;
	height: 2.5vh;
	width: 2.5vh;
}
.rpCBTextCont {
 	float: left;
	height: 100%;
	margin-left: 1vw;
}
.rpCBText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: open;
	font-size: 1.2vw;
	text-align: left;
	color: rgb(180, 180, 180);
	cursor: pointer;
}
#rpGenerateButton {
	position: absolute;
	width: 8vw;
	height: 6vh;
	margin-top: 34vh;
	margin-left: 13vw;
	background-color: rgb(6, 207, 36);
	background-color: var(--focus);
	border-radius: 12px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
	cursor: pointer;
	z-index: 100;
	transition: all 0.3s;
}
#rpGenerateButton:hover {
	background-color: rgb(100, 207, 100);
}
#rpGenerateText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: openBold;
	font-size: 1.2vw;
	color: white;
	text-align: center;
	cursor: pointer;
}

.rpFileCont {
	position: absolute;
	width: 28vw;
	height: 35vh;
	top: 0;
	z-index: 70;
	transition: all 0.6s;
	transition-timing-function: ease;
}
.rpFileContLeft {
	display: block;
	transform: skewY(35deg) scale(0.65);
	margin-left: 40vw;
	margin-top: 27vh;
	opacity: 0;
}
.rpFileContCenter {
	display: block;
	transform: none;
	margin-top: 40vh;
	margin-left: 65vw;
	opacity: 1;
}
.rpFileContRight {
	display: block;
	transform: skewY(-35deg) scale(0.65);
	margin-left: 90vw;
	margin-top: 27vh;
	opacity: 0;
}
.rpFileContHidden {
	display: none;
	opacity: 0;
}
.rpFileTextCont {
	float: left;
	height: 60%;
	width: 40%;
	top: 0;
	margin-top: 13%;
	opacity: 1;
	transition: all 1s;
}
.rpFileText {
	width: 100%;
	margin-top: 1.2vh;
	position: relative;
	font-family: openMedium;
	font-size: 1.3vw;
	color: white;
	opacity: 0.8;
	text-align: right;
	cursor: pointer;
}
.rpFileDivider {
	float: left;
	height: 100%;
	width: 2px;
	margin-left: 8%;
	background-color: rgb(130, 130, 130);
	opacity: 1;
	transition: all 0.8s;
}
.rpFile {
	float: left;
	height: 100%;
	width: 50%;
	margin-left: 0%;
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: 50% 50%;
	background-image: url("../assets/icons/pdf.svg");
	opacity: 1;
	transition: all 1s;
}

#rpFileLB {
	display: none;
	position: absolute;
	width: 6vw;
	height: 6vh;
	top: 0;
	margin-top: 77vh;
	margin-left: 58vw;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50% 50%;
	background-image: url("../assets/icons/leftarrow.svg");
	z-index: 100;
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.2s;
}
#rpFileLB:hover {
	transform: scale(1.3);
	opacity: 1;
}
#rpFileRB {
	display: none;
	position: absolute;
	width: 6vw;
	height: 6vh;
	top: 0;
	margin-top: 77vh;
	margin-left: 93vw;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50% 50%;
	background-image: url("../assets/icons/rightarrow.svg");
	z-index: 100;
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.2s;
}
#rpFileRB:hover {
	transform: scale(1.3);
	opacity: 1;
}
#rpFileDotCont {
	display: block;
	position: absolute;
	top: 0;
	margin-top: 80vh;
	margin-left: 78.2vw;
	z-index: 100;
}
.rpFileDot {
	float: left;
	width: 0.7vw;
	height: 0.7vw;
	margin-left: 1vw;
	border-radius: 50px;
	background-color: white;
	opacity: 0.5;
}


