/*Settings Content*/

#sCont { /*Settings container*/
	position: absolute;
	width: 80vw;
	height: 80vh;
	margin-left: 100vw;
	margin-top: 10vh;
	border-radius: 15px;
	z-index: 200;
	background-color: rgb(20, 20, 20);
	background-image: linear-gradient(to top right, rgb(40, 40, 40) 0%, rgb(20, 20, 20) 50%);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, .8);
	overflow: hidden;
}
@keyframes openSettings {
	0% {
		opacity: 0;
		margin-left: 100vw;
	}
	100% {
		opacity: 1;
		margin-left: 10vw;
	}
}
@keyframes closeSettings {
	0% {
		opacity: 1;
		margin-left: 10vw;
	}
	100% {
		opacity: 0;
		margin-left: 100vw;
	}
}

#sTBar { /*Settings title bar*/
	position: relative;
	height: 8%;
	width: 100%;
	padding-top: 0.5%;
	border-radius: 15px 15px 0 0;
	background-color: rgb(40, 40, 40);
	
}
.sTBarN { /*Settings title bar node*/
	position: relative;
	display: inline-block;
	height: 100%;
	/*width: 15%;*/
	padding: 0 4% 0 4%;
	border-radius: 15px 15px 0 0;
	background-color: rgb(30, 30, 30, 0);
	color: rgb(80, 80, 80);
	cursor: pointer;
	transition: all 0.2s;
}
.sTBarN:hover {
	color: rgb(220, 220, 220);
}
.sTBarNActive { /*Active title bar node*/
	background-color: rgb(20, 20, 20);
	color: rgb(220, 220, 220);
	border-bottom: none;
}
.sTBarNT { /*Inner text in title bar node*/
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: inherit;
	font-family: openSemiBold;
	font-size: 1.2vw;
	text-align: center;
	cursor: pointer;
}
#sCloseButton { /*Settings close button*/
	position: absolute;
	width: 4%;
	height: 90%;
	margin-left: 95%;
	background-image: url("../assets/icons/cross.svg");
	background-size: 45%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.1;
	cursor: pointer;
	transition: all 0.5s;
}
#sCloseButton:hover {
	opacity: 1;
}

.sTabCont { /*Container with elements relating to one settings tab*/
	position: relative;
	width: 100%;
	height: 92%;
	display: none;
}
#sTabCont0 {display: block;} /*Preset first page*/

.sCol {
	position: absolute;
	width: 33%;
	height: 100%;
}
.sETitle { /*Settings element title*/
	position: relative;
	width: 90%;
	margin-top: 4vh;
	margin-left: 10%;
	color: rgb(200, 200, 200);
	font-family: openSemiBold;
	font-size: 1vw;
}
.sEBox { /*Settings element entry box*/
	position: relative;
	width: 70%;
	height: 8%;
	margin-top: 1%;
	margin-left: 10%;
	border-radius: 10px;
	background-color: rgb(37, 37, 37);
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
	border: none;
	text-align: center;
	color: rgb(160, 160, 160);
	font-family: open;
	font-size: 1.2vw;
	user-select: text;
	-webkit-touch-callout: text; /* iOS Safari */
  	-webkit-user-select: text; /* Safari */
  	overflow: hidden;
  	cursor: pointer;
}
.sEBoxIcon { /*Icon in an entry box*/
	position: absolute;
	width: 12%;
	height: 8%;
	margin-top: 1%;
	margin-left: 10%;
	border-radius: 10px 0px 0px 10px;
	background-color: rgb(37, 37, 37);
	background-position: 50% 52%;
	background-repeat: no-repeat;
	opacity: 0.7;
	z-index: 200;
}
.sTableTitle { /*Settings table title*/
	position: relative;
	width: 80%;
	margin-top: 4vh;
	margin-left: 2.5vw;
	padding-bottom: 0.5%;
	color: rgb(200, 200, 200);
	font-family: openSemiBold;
	font-size: 1.3vw;
}
.sTableCont { /*Multiple entry table container*/
	position: relative;
	width: 90%;
	height: 75%;
	top: 1%;
	margin-left: 2.5vw;
	border-radius: 10px;
	background-color: rgb(37, 37, 37);
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
	overflow-x: hidden;
	overflow-y: scroll;
}
.sTable { /*Multiple entry table*/
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: rgb(37, 37, 37);
	border: none;
	border-collapse: collapse;
}
.sTableHeader { /*Sticky table header*/
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	height: 5vh;
	background-color: rgb(60, 60, 60);
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	color: rgb(140, 140, 140);
	font-family: openMedium;
	font-size: 0.85vw;
  	z-index: 200;
}
.sTableHC { /*Table header cell*/
	border-right: 2px solid rgb(37, 37, 37);
}
.sTableHC:first-child {border-radius: 10px 0px 0px 0px;}
.sTableHC:last-child {border-radius: 0px 10px 0px 0px;}
.sTableRow { /*Table data row*/
	height: 6vh;
	text-align: center;
	color: rgb(200, 200, 200);
	font-family: openMedium;
	font-size: 0.85vw;
	border-collapse: collapse;
	background-color: rgb(38, 38, 38);
	border-right: 2px solid rgb(45, 45, 45);
	border-bottom: 2px solid rgb(45, 45, 45);
}
.sTableRowFocus {
	background-color: rgb(45, 45, 45);
	border-right: 2px solid rgb(38, 38, 38);
	border-bottom: 2px solid rgb(38, 38, 38);
}
.sTableDC { /*Table data cell*/
	border: inherit;
	background-color: inherit;
	cursor: pointer;
}
.sTableDInput { /*Table data cell that is inputable*/
	height: 100%;
	width: 100%;
	border: none;
	background-color: inherit;
	text-align: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	user-select: text;
	-webkit-touch-callout: text; /* iOS Safari */
  	-webkit-user-select: text; /* Safari */
  	outline: none;
  	overflow: hidden;
  	cursor: pointer;
}
.sTableDSelect { /*Table data cell that is selectable*/
	height: 100%;
	width: 90%;
	padding-left: 10%;
	transform: translateY(-52%);
	border: none;
	background-color: rgb(0, 0, 0, 0);
	text-align: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
  	outline: none;
  	appearance: none;
  	-webkit-appearance: none;
  	overflow: hidden;
  	cursor: pointer;
}
.sTableDSelectArrow { /*Down arrow that sits next to a cell select*/
	position: relative;
	display: inline-block;
	width: 20%;
	height: 100%;
	margin-left: 80%;
	transform: translateY(52%);
	background-image: url("../assets/icons/downarrow.svg");
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.4;
	cursor: pointer;
}

.sTableButton { /*A button on the settings table*/
	position: -webkit-sticky;
  	position: sticky;
	width: 3vw;
	height: 3vw;
	margin-top: -3vw;
	margin-left: 89%;
	background-size: 75%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 200;
	opacity: 0.4;
	cursor: pointer;
	transition: all 0.5s;
}
.sTableButton:hover {
	opacity: 1;
}
#sTableRemove {
	background-image: url("../assets/icons/trash.svg");
}
#sTableAdd {
	background-image: url("../assets/icons/pencil.svg");
}

#sLogOut { /*Settings logout button*/
	position: relative;
	width: 40%;
	height: 7%;
	top: 5%;
	margin-left: 10%;
	background-color: rgb(100, 100, 100);
}
.sButton {
	position: absolute;
	width: 9%;
	height: 7%;
	top: 88%;
	border-radius: 10px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .8);
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.5s;
}
.sButton:hover {
	opacity: 1;
}
#sCancel { /*Settings cancel button*/
	margin-left: 77%;
	background-color: rgb(100, 100, 100);
}
#sUpdate { /*Settings cancel button*/
	margin-left: 88%;
	background-color: var(--focus);
}
.sButtonT { /*Settings button text*/
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: openSemiBold;
	font-size: 1.1vw;
	cursor: pointer;
}

#sUnauthorisedT { /*Settings unauthorised text*/
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(200, 200, 200);
	font-family: openSemiBold;
	font-size: 2vw;
	text-align: center;
}
#sLogoutUnauthorised { /*Double styles for button used on unauthorised screen*/
	position: absolute;
	width: 12%;
	height: 7%;
	left: 85%;
	top: 89%;
	border-radius: 10px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .8);
	background-color: rgb(100, 100, 100);
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.5s;
}
#sLogoutUnauthorised:hover {
	opacity: 1;
}