* {
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  cursor: default;
}

@font-face {
  font-family: open;
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: openMedium;
  src: url('../assets/fonts/OpenSans/OpenSans-Medium.ttf');
}
@font-face {
  font-family: openSemiBold;
  src: url('../assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: openBold;
  src: url('../assets/fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: fugaz;
  src: url('../assets/fonts/FugazOne/FugazOne-Regular.ttf');
}

:root {
  --focusOld: rgb(15, 132, 242);
  --focus: rgb(7, 102, 245);
  --bg: rgb(25, 25, 25);
  --bgGrad:  rgb(25, 25, 25, 0.95);
  --fg: rgb(90, 90, 90);
}

body {background-color: var(--bg);}

#effCont { /*Efferent container holding current sections items*/
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg);
	overflow: hidden;
	transition: all 0.8s;
}

#sbCont { /*Sidebar container*/
	margin-top: 5vh;
	margin-left: 0vw;
	position: absolute;
	height: 90vh;
	width: 6vw;
	background-color: var(--focus);
	background-image: linear-gradient(to bottom, var(--focus) 50%, rgb(0, 50, 180) 100%);
	border-radius: 0 10px 10px 0;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
	z-index: 500;
	overflow: hidden;
	transition: all 0.8s;
}
.sbN { /*Sidebar node*/
	position: relative;
	width: 100%;
	height: 13%;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 45%;
	cursor: pointer;
	transition: all 0.3s;
}
.sbN:nth-child(2) {
	margin-top: 10%;
}
.sbIcon { /*Icon in a sidebar node*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 45%;
	cursor: pointer;
	transition: all 0.3s;
}
#sbIcon1 {
	background-image: url("../assets/icons/graph.svg");
}
#sbIcon2 {
	background-image: url("../assets/icons/device.svg");
}
#sbIcon3 {
	background-image: url("../assets/icons/history.svg");
}
#sbIcon4 {
	background-image: url("../assets/icons/report.svg");
}
#sbIcon5 {
	background-image: url("../assets/icons/clouds.svg");
}
.sbLabel { /*Text in a sidebar node*/
	position: relative;
	width: 100%;
	top: 60%;
	text-align: center;
	color: whitesmoke;
	font-family: openSemiBold;
	font-size: 0.95vw;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s;

}
#sbS { /*Slidey selector*/
	position: absolute;
	width: 3%;
	height: 10%;
	margin-top: 12%;
	top:  0;
	left: 2%;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	transition: all 1s;
}
#sbLogo { /*Logo on side bar*/
	position: absolute;
	top: 88%;
	background-image: url("../assets/images/logow.png");
	background-size: 90%;
	background-position: 50% 45%;
	opacity: 0.8;
}

#sc { /*Settings circle*/
	position: absolute;
	height: 5.5vw;
	width: 5.5vw;
	margin-left: 91vw;
	margin-top: 5vh;
	overflow: visible;
	z-index: 500;
	transition: all 0.8s;
}
#sc:hover {
	transform: rotate(360deg);
}
#scSVG { /*Account circle svg*/
	width: 100%;
	height: 100%;
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, .5));
}
#scSVGC { /*Account circle svg circle element*/
	fill: var(--focus);
	r: 50%;
	cx: 50%;
	cy: 50%;
}
#scContent { /*The content inside the account circle*/
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-image: url("../assets/icons/settings1.svg");
	background-size: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 1;
	cursor: pointer;
}

#sICont { /*Section indicator container*/
	position: absolute;
	width: 16vw;
	margin-left: 73vw;
	margin-top: 6vh;
	opacity: 1;
	transition: all 0.8s;
}
#sITitle { /*Section title text*/
	position: relative;
	width: 100%;
	padding-bottom: 2%;
	color: rgb(255, 255, 255, 0.8);
	text-align: right;
	font-family: openMedium;
	font-size: 2.1vw;
	border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}
#sIText { /*Section description text*/
	position: relative;
	width: 100%;
	top: 50%;
	margin-top: 2%;
	color: rgb(255, 255, 255, 0.7);
	text-align: right;
	font-family: open;
	font-size: 0.9vw;
}
#sIUnit { /*Section unit description*/
	position: relative;
	width: 100%;
	top: 50%;
	margin-top: 2%;
	color: rgb(255, 255, 255, 0.7);
	text-align: right;
	font-family: openSemiBold;
	font-size: 1.2vw;
}
@keyframes sIMoveOut {
	100% {opacity: 0;}
}
@keyframes sIMoveIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#lCont { /*Login container*/
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 500;
	background-color: rgb(20, 20, 20);
	/*background-image: linear-gradient(300deg, rgb(0, 0, 0) 50%, rgb(50, 50, 200, 0.2) 100%);*/
	transition: all 0.7s;
}
#lLogo { /*Login logo*/
	position: relative;
	width: 30vw;
	height: 18vh;
	margin-left: 35vw;
	margin-top: 25vh;
	background-image: url("../assets/images/blogow.png");
	background-size: 75%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.lInput { /*Login input*/
	position: relative;
	width: 20vw;
	height: 7vh;
	margin-top: 3vh;
	margin-left: 40vw;
	border-radius: 12px;
	background-color: rgb(25, 25, 25);
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: open;
	font-size: 1.4vw;
	user-select: text;
	-webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  cursor: pointer;
  border: 1px solid rgb(60, 60, 60);
	overflow: hidden;
	outline: none;
}
.lInput:focus {
	border-color: rgb(100, 100, 100);
}
.lInputIcon { /*Login input icon*/
	position: absolute;
	width: 4vw;
	height: 7vh;
	margin-top: 3vh;
	margin-left: 40vw;
	z-index: 501;
	border-radius: 12px 0 0 12px;
	background-color: rgb(60, 60, 60);
	background-size: 70%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.6;
}
#lButton { /*Login button*/
	position: relative;
	width: 20vw;
	height: 6vh;
	margin-top: 3vh;
	margin-left: 40vw;
	border-radius: 12px;
	cursor: pointer;
	background-color: white;
	/*background-image: linear-gradient(90deg, rgb(15, 132, 242, 1) 0%, var(--focus) 40%, var(--focus) 60%, rgb(15, 132, 242, 0.92) 100%);*/
	background-image: linear-gradient(90deg, var(--focus) 40%, rgb(15, 132, 242, 0.92) 100%);
	opacity: 0.9;
	transition: all 0.5s;
}
#lButtonT { /*Login button text*/
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: openSemiBold;
	font-size: 1.4vw;
	cursor: pointer;
	opacity: 0.9;
	transition: all 0.5s;
}

#helpCont { /*Help popup*/
	position: absolute;
	padding: 1vw;
	display: none;
	width: 10vw;
	background-color: rgb(50, 50, 50);
	border-radius: 10px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: open;
	font-size: 0.8vw;
	z-index: 500;
	opacity: 0;
	transition: opacity 0.2s;
}

@keyframes shake {
	0% {margin-left: 39vw}
	20% {margin-left: 41vw}
	40% {margin-left: 39vw}
	60% {margin-left: 41vw}
	80% {margin-left: 39vw}
	100% {margin-left: 40vw}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(-1px);
	}
	to {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {
		opacity: 0;
		transform: translateX(200px);
	}
}








