/*Dashboard page*/
#rtCont { /*Real-time module container*/
	position: absolute;
	width: 200vw;
	margin-top: 8vh;
	z-index: 20;
	overflow: visible;
}
.rtN { /*Real time node*/
	position: relative;
	display: inline-block;
	width: 45vw;
	height: 45vw;
	left: 0;
	margin-left: 2.5vw;
	background-color: var(--fg);
	border-radius: 20px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .8);
	opacity: 0;
	transition: all 0.2s;
}

#rtSpeedIcon { /*Wind icon*/
	position: absolute;
	width: 20%;
	height: 20%;
	top: 5%;
	left: 5%;
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 45%;
	background-image: url("/assets/icons/windw.png");
}
#rtSpeed1 { /*Actual speed*/
	position: absolute;
	width: 88%;
	top: 10%;
	text-align: right;
	font-family: openBold;
	font-size: 12vw;
	color: rgb(255, 255, 255);
}
#rtSpeed2 { /*Units*/
	position: absolute;
	width: 88%;
	top: 42%;
	text-align: right;
	font-family: open;
	font-size: 3vw;
	color: rgb(255, 255, 255);
}
#rtSpeed3 { /*Last updated*/
	position: absolute;
	width: 90%;
	top: 70%;
	left: 10%;
	text-align: left;
	font-family: openSemiBold;
	font-size: 2.5vw;
	color: rgb(255, 255, 255);
}
#rtSpeed4 { /*Time ago*/
	position: absolute;
	width: 85%;
	top: 79%;
	left: 10%;
	text-align: left;
	font-family: openBold;
	font-size: 3.5vw;
	color: rgb(255, 255, 255);
}

#rtDir {
	margin-top: 5vh;
	background-image: linear-gradient(to bottom right, rgb(140, 140, 140) 0%, var(--fg) 50%);
}
#rtDirIcon { /*Direction icon*/
	position: absolute;
	width: 20%;
	height: 20%;
	top: 5%;
	left: 5%;
	background-repeat: no-repeat;
	background-size: 200%;
	background-position: 50% 65%;
	background-image: url("/assets/icons/compass.svg");
}
#rtDir1 { /*Direction name*/
	position: absolute;
	width: 80%;
	top: 10%;
	left: 10%;
	text-align: right;
	font-family: openBold;
	font-size: 12vw;
	color: rgb(255, 255, 255);
}
#rtDir2 { /*Degrees*/
	position: absolute;
	width: 80%;
	top: 42%;
	left: 10%;
	text-align: right;
	font-family: open;
	font-size: 3vw;
	color: rgb(255, 255, 255);
}
#rtDirIndicator { /*Direction indicator*/
	position: absolute;
	width: 40%;
	height: 32%;
	top: 60%;
	left: 8%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
	background-image: url("/assets/icons/direction.svg");
	transform: rotate(0deg);
	transition: all 1s;
}
#rtGusts {
	background-image: linear-gradient(to bottom right, rgb(200, 120, 90) 0%, rgb(255, 70, 70, 0.8) 50%);
}
#rtGustIcon { /*Direction icon*/
	position: relative;
	width: 20%;
	height: 20%;
	top: 5%;
	left: 5%;
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 50% 65%;
	background-image: url("/assets/icons/windsock.svg");
}
#rtGustTitle {
	position: absolute;
	width: 85%;
	top: 11%;
	text-align: right;
	font-family: openSemiBold;
	font-size: 4vw;
	color: rgb(255, 255, 255);
	opacity: 0.8;
}
#rtGustDiv {
	position: relative;
	height: 2px;
	width: 84%;
	left: 8%;
	margin-top: 8%;
	background-color: white;
	opacity: 0.3;
	border-radius: 15px;
}
.rtGustRow {
	position: relative;
	display: table;
    	margin-left: auto;
    	margin-right: auto;
    	padding: 1.5vw 2.5vw 1.5vw 2.5vw;
	margin-top: 6%;
	border-radius: 15px;
	background-color: rgb(200, 200, 200, 0.2);
	box-shadow: 2px 2px 10px rgba(100, 100, 100, .2);
}
.rtGustRowSpeed {
	position: relative;
	display: inline-block;
	font-family: openBold;
	font-size: 3.5vw;
	color: rgb(255, 255, 255);
}
.rtGustRowTime {
	position: relative;
	display: inline-block;
	padding-left: 1.5vw;
	font-family: open;
	font-size: 3vw;
	color: rgb(255, 255, 255, 0.8);
}
#rtCircles {
	background-image: linear-gradient(to bottom right, rgb(80, 80, 80) 0%, rgb(50, 50, 50) 50%);
}
#rtCirclesIcon { /*Direction icon*/
	position: absolute;
	width: 20%;
	height: 20%;
	top: 5%;
	left: 5%;
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: 50% 65%;
	background-image: url("/assets/icons/graph.svg");
}
#rtCirclesTitle {
	position: absolute;
	width: 90%;
	top: 9%;
	text-align: right;
	font-family: openSemiBold;
	font-size: 3.5vw;
	color: rgb(255, 255, 255);
	opacity: 0.8;
}
#rtCaroselDotCont {
	width: 95vw;
	height: 5vw;
	margin-left: 5vw;
	top: 10%;
}

#gCont { /*Graph module container*/
	position: absolute;
	width: 100vw;
	height: 65vh;
	margin-top: 38vh;
}
#graph {
	width: 100%;
	height: 88%;
	opacity: 0;
	z-index: -100;
}
#graphCover { /*Graph cover which provides a gradient out*/
	position: absolute;
	top: -12%;
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0) 0%, var(--bgGrad) 100%);
	width: 30%;
	height: 100%;
	margin-top: 5%;
	margin-left: 70%;
	z-index: 10;
}
#gSVG {
	width: 100%;
	height: 95%;
	margin-left: 2%;
	margin-top: 1.1%;
	/*background-color: rgb(40, 40, 40);*/
	border-radius: 20px;
}
.gAxisLine { /*Graph axis lines paths*/
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-linecap: round;
}
.gMarkingLine { /*Graph marking lines paths*/
	stroke: rgb(255, 255, 255);
	stroke-width: 1px;
}
.gMarkingText { /*Graph marking text*/
	fill: rgb(180, 180, 180);
	font-family: open;
}
.gThinLine { /*Graph thin lines paths*/
	stroke: rgb(180, 180, 180);
	stroke-width: 0.5px;
	stroke-linecap: round;
	stroke-dasharray: 3;
}
.gDataLine { /*Data line path*/
	stroke: rgb(50, 255, 50);
	stroke-width: 1px;
	stroke-linecap: round;
	fill: none;
	z-index: 100;
}
.gDataCircle { /*Data point circle*/
	fill: rgb(50, 255, 50, 0.8);
	r: 2px;
	z-index: 101;
}
#gFocusCircle {
	display: none;
	fill: none;
	stroke: white;
	stroke-width: 1.5px;
	r: 5px;
	z-index: 101;
	opacity: 0.8;
}
#gFocusText {
	display: none;
	fill: white;
	font-family: open;
	font-size: 1.2vw;
	opacity: 0.8;
	z-index: 101;
}
#gFocusLine {
	display: none;
	stroke: rgb(255, 255, 255);
	stroke-width: 1px;
	stroke-linecap: round;
	opacity: 0.3;
	z-index: 101;
}
/*Linear gradient under data line path*/
.gDataGrad { fill: url(#gradient); z-index: 100;}
        .stop1 { stop-color: rgb(50, 255, 50, 0.5); }
        .stop2 { stop-color: rgb(50, 255, 50, 0);}

#filter {
	position: absolute;
	border-radius: 18px;
	box-shadow: 3px 3px 12px rgba(0, 0, 0, .8);
	cursor: pointer;
	transition: all 0.3s;
}
.filterHome { /*Full screen filter*/
	width: 19vw;
	height: 4vh;
	top: 39vh;
	left: 75vw;
	z-index: 100;
	background-color: var(--focus);
}
.filterExp { /*Full screen filter*/
	width: 80vw;
	height: 80vh;
	top: 10vh;
	left: 10vw;
	z-index: 1000!important;
	background-image: linear-gradient(to bottom right, rgb(40, 40, 40) 0%, rgb(20, 20, 20) 70%);
}
#filterHeader {
	position: absolute;
	width: 100%;
	height: 100%;
}
.filterHeaderExp {
	top: 1%;
	height: 8%!important;
}
#filterArrow {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 50%;
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 50% 50%;
	background-image: url("/assets/icons/downarrow.svg");
	transition: all 0.3s;
}
.filterArrowExp {
	width: 10%!important;
	left: 85%!important;
	background-image: url("/assets/icons/cross.svg")!important;
	background-size: 50%!important;
}
#filterLabel {
	position: absolute;
	width: 70%;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: openSemiBold;
	font-size: 3vw;
}
.filterLabelExp {
	width: 30%!important;
	font-family: openBold!important;
	font-size: 5vw!important;
}
#filterContent {
	display: none;
	position: relative;
	height: 90%;
	width: 100%;
	top: 10%;
}
#filterDivider {
	position: relative;
	width: 90%;
	left: 5%;
	height: 1px;
	border-radius: 10px;
	background-color: white;
	opacity: 0.2;
}
.filterRow {
	position: relative;
	width: 100%;
	margin-top: 5%;
}
.filterRowTitle {
	position: relative;
	width: 95%;
	left: 5%;
	color: rgb(255, 255, 255);
	text-align: left;
	font-family: openSemiBold;
	font-size: 4vw;
}
.fCBCont {
	position: relative;
	width: 40%;
	height: 5vw;
	left: 15%;
	margin-top: 5%;
}
.fCBHolder {
	float: left;
	width: 5vw;
	height: 5vw;
	z-index: 500;
}
.fCBLabelCont {
	float: left;
	height: 100%;
	top: 0;
	margin-left: 10%;
}
.fCBLabel {
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(255, 255, 255);
	text-align: left;
	font-family: open;
	font-size: 3.5vw;
}

#filterElemRowOuter {
	position: absolute;
	width: 70vw;
	height: 6vh;
	top: 38vh;
	overflow-x: scroll;
	overflow-y: hidden;
}
#filterElemRowInner {
	position: absolute;
	width: 200vw;
	height: 100%;
}
.filterElem {
	position: relative;
	display: inline-block;
	width: 15vw;
	height: 4vh;
	top: 50%;
	margin-left: 3%;
	transform: translateY(-50%);
	z-index: 100;
	border-radius: 18px;
	box-shadow: 3px 3px 12px rgba(0, 0, 0, .8);
	background-color: rgb(100, 100, 100);
	opacity: 0.8;
}
.filterElemLabel {
	position: relative;
	width: 100%;
	top: 50%;
	left: 15%;
	transform: translateY(-50%);
	color: rgb(255, 255, 255);
	text-align: left;
	font-family: open;
	font-size: 3vw;
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: 65% 70%;
	background-image: url("/assets/icons/cross.svg");
}

#cCont {
	display: none;
}
.cSVG { /*The alert circle svg*/
	position: absolute;
	display: block;
	width: 65%;
	height: 65%;
	margin-top: 25%;
	margin-left: 17.5%;
	overflow: visible;
}
.cSVGC { /*An alert circle*/
	r: 50%;
	cy: 50%;
	cx: 50%;
	stroke: rgb(150, 150, 150);
	fill: none;
	stroke-width: 2vw;
	stroke-linecap: round;
	stroke-dasharray: 1, 10000;
	transform-origin: center;
	transform: rotate(-90deg);
	filter: url(#shadow);
	z-index: 11;
	opacity: 1;
	transition: stroke-dasharray 1.5s;
}
#cSVGC1 {
	stroke: rgb(0, 200, 0);
	r: 50%;
}
#cSVGC2 {
	stroke: rgb(252, 179, 8);
	r: 35%;
}
#cSVGC3 {
	stroke: rgb(200, 0, 0);
	r: 20%;
}
.cSVGF { /*Full alert circle*/
	opacity: 0.3;
	stroke-dasharray: 0, 0;
	z-index: 10;
}
#cSVGF1 {r: 50%;}
#cSVGF2 {r: 35%;}
#cSVGF3 {r: 20%;}