#fCaroselHolder {
	width: 500vw;
	height: 40vh;
	margin-top: 12vh;
	overflow: visible;
}
#fCaroselDotCont {
	position: relative;
	width: 100vw;
	height: 5vw;
	margin-top: 3vh;
	margin-left: 0vw;
	display: flex;
  	justify-content: center;
}

.fM { /*A forecast element module*/
	position: relative;
	float: left;
	height: 40vh;
	width: 80vw;
	top: 0;
	background-color: var(--fg);
	border-radius: 20px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .8);
	opacity: 0;
	transition: all 0.2s;
}
#fWindM { /*Wind module*/
	margin-left: 10vw;
	background-image: linear-gradient(to bottom right, rgb(90, 90, 90) 0%, rgb(30, 30, 30) 50%);
}
#fTempM { /*Temperature module*/
	background-image: linear-gradient(130deg, rgb(255, 180, 0) 0%, rgb(255, 100, 50) 60%);
}
#fRainM { /*Rain module*/
	background-image: linear-gradient(130deg, rgb(98, 172, 254) 0%, rgb(11, 107, 225) 60%);
	background-image: linear-gradient(130deg, #9400F9 0%, #12217F 50%);
}
#fSnowM { /*Snow module*/
	background-image: linear-gradient(130deg, rgb(110, 110, 110) 0%, rgb(230, 230, 230) 60%);
}
#fPrecipM { /*Precipitation module*/
	background-image: linear-gradient(to bottom right, rgb(120, 120, 120) 0%, rgb(60, 60, 60) 50%);
}
#fSunsetM { /*Sunrise/Sunset module*/
	background-image: linear-gradient(to bottom right, rgb(80, 80, 80) 0%, rgb(30, 30, 30) 50%);
	background-image: linear-gradient(110deg, rgb(180, 110, 80) 0%, rgb(15, 15, 40) 65%);
}
.fMHeaderBar { /*The header for a forecast node*/
	width: 100%;
	height: 20%;
	margin-top: 4%;
	display: flex;
  	align-items: center;
  	flex-direction: row;
}
.fMHeaderBar:first-child {
	margin-top: 0;
}
.fMIcon { /*Forecast module icon*/
	position: relative;
	display: inline-block;
	height: 12vw;
	width: 12vw;
	margin-left: 2vw;
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: 50% 50%;
}
.fMIconInline { /*Used for the modules which are just lots of headers*/
	margin-left: 0.5%;
}
.fMTitle { /*Module title*/
	position: relative;
	display: inline-block;
	margin-left: 1vw;
	color: rgb(255, 255, 255);
	font-family: openBold;
	font-size: 3vw;
}
.fMText {
	position: absolute;
	width: 92%;
	left: 0;
	margin-left: 0;
	color: rgb(255, 255, 255);
	text-align: right;
	font-family: openMedium;
	text-align: right;
	font-size: 4.5vw;
}

.fMSVG {
	position: absolute;
	width: 100%;
	height: 86%;
	margin-top: -5%;
}
.fMSVGSmall {
	position: absolute;
	width: 48%;
	height: 18%;
	margin-top: 2%;
	margin-left: 44%;
}
.fMSVGWide {
	position: absolute;
	width: 100%;
	height: 89%;
	margin-top: -6%;
	border-radius: 20px;
}
.fMGAxisLine { /*Graph axis lines paths*/
	stroke: rgb(180, 180, 180);
	stroke-width: 0.2px;
	stroke-linecap: round;
}
.fMGMarkingLine { /*Graph marking lines paths*/
	stroke: rgb(180, 180, 180);
	stroke-width: 0.5px;
}
.fMGMarkingText { /*Graph marking text*/
	fill: rgb(180, 180, 180);
	font-family: open;
}
.fMGThinLine { /*Graph thin lines paths*/
	stroke: rgb(180, 180, 180);
	stroke-width: 0.2px;
	stroke-linecap: round;
}
.fMGDataLine { /*Data line path*/
	stroke-width: 3px;
	stroke-linecap: round;
	fill: none;
	z-index: 100;
}
.fMGDataLineSmall {
	stroke-width: 1.5px;
}
.fMGDataCircle { /*Data point circle*/
	opacity: 1;
	r: 3.5px;
	z-index: 101;
}
.fMGDataCircleWide { /*Wider data point circle*/
	opacity: 1;
	r: 5px;
	z-index: 101;
}
/*Linear gradient under data line path*/
.fMGDataGrad {
	z-index: 100;
}

.fMSunsetN { /*Helps with centering sunset text and icons*/
	position: relative;
	width: 100%;
	height: 30%;
	margin-top: 4%;
}
.fMSunriseIcon { /*Icon used in sunset node*/
	position: absolute;
	width: 40%;
	height: 100%;
	margin-left: 12%;
	background-image: url('/assets/icons/sunrise.svg');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 50%;
	opacity: 0.9;
}
.fMTextSunset { /*Text used in sunset node*/
	position: absolute;
	width: 75%;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(255, 255, 255, 0.7);
	text-align: right;
	font-family: open;
	font-size: 5.2vw;
}

#fMcSVG { /*Circles SVG*/
	position: absolute;
	width: 45%;
	height: 50%;
	top: 35%;
	left: 27.5%;
	overflow: visible;
}
.fMcSVGC { /*A circle*/
	cy: 50%;
	cx: 50%;
	stroke: rgb(150, 150, 150);
	fill: none;
	stroke-width: 0.6vw;
	stroke-linecap: round;
	stroke-dasharray: 1, 10000;
	transform-origin: center;
	transform: rotate(-90deg);
	filter: url(#fMShadow);
	z-index: 11;
	opacity: 1;
	transition: stroke-dasharray 1.5s;
}
#fMcSVGC1 {
	stroke: rgb(20, 255, 20);
	r: 50%;
}
#fMcSVGC2 {
	stroke: rgb(180, 240, 180);
	r: 40%;
}
#fMcSVGC3 {
	stroke: rgb(220, 230, 220);
	r: 30%;
}
.fMcSVGF { /*Full circle*/
	opacity: 0.3;
	stroke-dasharray: 0, 0;
	z-index: 10;
}
#fMcSVGF1 {r: 50%;}
#fMcSVGF2 {r: 40%;}
#fMcSVGF3 {r: 30%;}
.fMcT { /*Box containg text for each circle*/
	position: absolute;
	height: 28%;
	width: 100%;
	margin-top: 10.5%;
	opacity: 0;
	transition: opacity 3s;
	/*background-color: rgb(0, 0, 255, 0.2);*/
}
.fMcTB { /*Center circle big text*/
	position: relative;
	width: 100%;
	margin-top: 27%;
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: openBold;
	font-size: 2.2vw;
}
.fMcTS { /*Center circle small text*/
	position: relative;
	width: 100%;
	margin-top: -2%;
	color: rgb(180, 180, 180);
	text-align: center;
	font-family: open;
	font-size: 0.9vw;
}
#fMcDS { /*Alert circle drop shadow*/
	flood-color: rgb(0, 0, 0);
	flood-opacity: 0.5;
}

#fDailyM { /*Daily forecast container*/
	position: relative;
	width: 95vw;
	height: 15vh;
	margin-left: 2.5vw;
	margin-top: 5vh;
	background-image: linear-gradient(180deg, rgb(50, 50, 50) 0%, rgb(30, 30, 30) 80%);
	border-radius: 15px;
	/*box-shadow: 3px 3px 15px rgba(0, 0, 0, .8);*/
	opacity: 0;
}

.fDN { /*Daily forecast node*/
	position: relative;
	display: inline-block;
	width: 18.5%;
	height: 100%;
	border-right: 2px solid rgb(20, 20, 20);
	opacity: 1;
}
.fDN:last-child {
	margin-left: 0;
	border: none;
}
.fDN:nth-child(2) {
	opacity: 1;
}
.fDNIcon { /*Daily forecast node icon*/
	position: relative;
	width: 50%;
	height: 32%;
	margin-top: 8%;
	margin-left: 25%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
}
.fDNTitle { /*Daily forecast node title*/
	position: relative;
	width: 100%;
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: openBold;
	font-size: 3.8vw;
}
.fDNTempCont { /*Daily forecast node temperature container to allow text to be vertically centered*/
	position: relative;
	margin-top: 10%;
	height: 50%;
	width: 100%;
}
.fDNTempHi { /*Daily forecast node temperature*/ 
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: openMedium;
	font-size: 3vw;
}
.fDNTempLo { /*Daily forecast node temperature*/
	color: rgb(255, 255, 255, 0.5);
	text-align: center;
	font-family: openMedium;
	font-size: 2.8vw;
}

#fPoweredBy { /*Attribution text*/
	position: relative;
	width: 100vw;
	margin-top: 1vh;
	margin-left: 5%;
	text-align: left;
	color: rgb(180, 180, 180);
	font-family: open;
	font-size: 2.5vw;
	opacity: 0;
}




