#effCont { /*Efferent container holding current sections items*/
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg);
	overflow-x: hidden;
	transition: all 0.8s;
}

#sbCont { /*Sidebar container*/
	position: fixed;
	margin-top: 2vh;
	margin-left: -75vw;
	height: 8vh;
	width: 90vw;
	background-color: var(--focus);
	background-image: linear-gradient(to left, var(--focus) 50%, rgb(0, 50, 180) 100%);
	border-radius: 0 10px 10px 0;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
	z-index: 500;
	overflow: hidden;
	transition: all 0.3s;
}
.sbN { /*Sidebar node*/
	position: relative;
	display: inline-block;
	width: 15%;
	height: 100%;
	margin-top: 0;
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: 50% 45%;
	cursor: pointer;
	transition: all 0.3s;
}
.sbIcon { /*Icon in a sidebar node*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 45%;
	cursor: pointer;
	transition: all 0.3s;
}
#sbIcon1 {
	background-image: url("/assets/icons/graph.svg");
}
#sbIcon2 {
	background-image: url("/assets/icons/device.svg");
}
#sbIcon3 {
	background-image: url("/assets/icons/history.svg");
}
#sbIcon4 {
	background-image: url("/assets/icons/report3.svg");
}
#sbIcon5 {
	background-image: url("/assets/icons/clouds.svg");
}
.sbLabel { /*Text in a sidebar node*/
	display: none;
	position: relative;
	width: 100%;
	top: 60%;
	text-align: center;
	color: whitesmoke;
	font-family: openSemiBold;
	font-size: 0.95vw;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s;

}
#sbS { /*Slidey selector*/
	display: none;
}
#sbLogo { /*Logo on side bar*/
	position: absolute;
	top: 0%;
	width: 15%;
	height: 100%;
	margin-left: 5%;
	background-image: url("/assets/images/logow.png");
	background-size: 90%;
	background-position: 50% 50%;
	opacity: 0.8;
}

#sc { /*Settings circle*/
	position: fixed;
	height: 12vw;
	width: 12vw;
	margin-left: 84vw;
	margin-top: 80vh;
	overflow: visible;
	z-index: 500;
	transition: all 0.8s;
}
#sc:hover {
	transform: rotate(360deg);
}
#scSVG { /*Account circle svg*/
	width: 100%;
	height: 100%;
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, .5));
}
#scSVGC { /*Account circle svg circle element*/
	fill: var(--focus);
	r: 50%;
	cx: 50%;
	cy: 50%;
}
#scContent { /*The content inside the account circle*/
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-image: url("/assets/icons/settings1.svg");
	background-size: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 1;
	cursor: pointer;
}

#sICont { /*Section indicator container*/
	position: fixed;
	width: 30vw;
	margin-left: 53vw;
	margin-top: 180vh;
	opacity: 1;
	transition: all 0.8s;
	z-index: 200;
	display: none;
}
#sITitle { /*Section title text*/
	position: relative;
	width: 100%;
	padding-bottom: 2%;
	color: rgb(255, 255, 255, 0.8);
	text-align: right;
	font-family: openMedium;
	font-size: 3.5vw;
}
#sIDivider {
	position: relative;
	width: 120%;
	height: 1.5px;
	background-color: rgb(255, 255, 255, 0.4);
}
#sIText { /*Section description text*/
	position: relative;
	width: 100%;
	top: 50%;
	margin-top: 2%;
	color: rgb(255, 255, 255, 0.7);
	text-align: right;
	font-family: open;
	font-size: 2vw;
}
#sIUnit { /*Section unit description*/
	position: relative;
	width: 100%;
	top: 50%;
	margin-top: 2%;
	color: rgb(255, 255, 255, 0.7);
	text-align: right;
	font-family: openSemiBold;
	font-size: 1.2vw;
}
@keyframes sIMoveOut {
	100% {opacity: 0;}
}
@keyframes sIMoveIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(-1px);
	}
	to {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {
		opacity: 0;
		transform: translateX(200px);
	}
}








