html {
	overflow: hidden;
}

#effCont { /*Efferent container holding current sections items*/
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg);
	overflow: hidden;
	transition: all 0.8s;
}

#sbCont { /*Sidebar container*/
	position: fixed;
	margin-top: 2vh;
	margin-left: -60vw;
	height: 86vh;
	width: 60vw;
	background-color: var(--focus);
	background-image: linear-gradient(to bottom, var(--focus) 50%, rgb(0, 50, 180) 100%);
	border-radius: 0 10px 10px 0;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
	z-index: 500;
	transition: all 0.3s;
}

.sbNCont { /*Outer container used in mobile only to preserve spacing*/
	position: relative;
	width: 100%;
	height: 11%;
	margin-top: 0%;
	cursor: pointer;
	transition: all 0.3s;
}
#sbNCont1 {
	margin-top: 10%;
}
.sbN { /*Sidebar node inner container*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 0.3s;
}
.sbIcon { /*Icon in a sidebar node*/
	position: absolute;
	height: 9.46vh;
	width: 30%;
	top: 50%;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 45%;
	cursor: pointer;
	transition: all 0.3s;
}
#sbIcon1 {
	background-image: url("/assets/icons/graph.svg");
}
#sbIcon2 {
	background-image: url("/assets/icons/device.svg");
}
#sbIcon3 {
	background-image: url("/assets/icons/history.svg");
}
#sbIcon4 {
	background-image: url("/assets/icons/report3.svg");
}
#sbIcon5 {
	background-image: url("/assets/icons/clouds.svg");
}
.sbLabel { /*Label in a sidebar node*/
	position: relative;
	left: 30%;
	width: 60%;
	text-align: left;
	color: whitesmoke;
	font-family: openSemiBold;
	font-size: 4.4vw;
	cursor: pointer;
	opacity: 1;
	transition: all 0.3s;
}
.sbText { /*Text in a sidebar node*/
	position: relative;
	left: 30%;
	width: 65%;
	text-align: left;
	color: whitesmoke;
	font-family: openMedium;
	font-size: 2.8vw;
	cursor: pointer;
	opacity: 1;
	transition: all 0.3s;
}
#sbS { /*Slidey selector*/
	position: absolute;
	width: 92%;
	height: 11%;
	left: 2%;
	border-radius: 15px;
	background-color: rgb(200, 200, 200, 0.2);
	transition: all 0.2s;
}
#sbLogo { /*Logo on side bar*/
	position: absolute;
	width: 32%;
	height: 11%;
	top: 0%;
	transform: none;
	left: 95%;
	margin-top: 0;
	opacity: 1;
	background-image: url("/assets/images/logow.png");
	background-size: 75%;
	background-position: 80% 50%;
	background-repeat: no-repeat;
	background-color: var(--focus);
	border-radius: 0 10px 10px 0;
}
#sbLogout {
	position: absolute;
	width: 18%;
	height: 6%;
	top: 91%;
	left: 31%;
	border-radius: 10px;
	background-image: url("/assets/icons/logout.svg");
	background-size: 55%;
	background-position: 55% 50%;
	background-color: rgb(255, 255, 255, 0.2);
	background-repeat: no-repeat;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .3);
}
#sbSettings {
	position: absolute;
	width: 18%;
	height: 6%;
	top: 91%;
	left: 7%;
	border-radius: 10px;
	background-image: url("/assets/icons/settings1.svg");
	background-size: 55%;
	background-position: 55% 50%;
	background-color: rgb(255, 255, 255, 0.2);
	background-repeat: no-repeat;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .3);
}

#sc { /*Settings circle*/
	position: fixed;
	height: 12vw;
	width: 12vw;
	margin-left: 84vw;
	margin-top: 80vh;
	overflow: visible;
	z-index: 500;
	transition: all 0.8s;
}
#sc:hover {
	transform: rotate(360deg);
}
#scSVG { /*Account circle svg*/
	width: 100%;
	height: 100%;
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, .5));
}
#scSVGC { /*Account circle svg circle element*/
	fill: var(--focus);
	r: 50%;
	cx: 50%;
	cy: 50%;
}
#scContent { /*The content inside the account circle*/
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-image: url("/assets/icons/settings1.svg");
	background-size: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 1;
	cursor: pointer;
}

#sICont { /*Section indicator container*/
	position: fixed;
	width: 30vw;
	margin-left: 53vw;
	margin-top: 180vh;
	opacity: 1;
	transition: all 0.8s;
	z-index: 200;
	display: none;
}
#sITitle { /*Section title text*/
	position: relative;
	width: 100%;
	padding-bottom: 2%;
	color: rgb(255, 255, 255, 0.8);
	text-align: right;
	font-family: openMedium;
	font-size: 3.5vw;
}
#sIDivider {
	position: relative;
	width: 120%;
	height: 1.5px;
	background-color: rgb(255, 255, 255, 0.4);
}
#sIText { /*Section description text*/
	position: relative;
	width: 100%;
	top: 50%;
	margin-top: 2%;
	color: rgb(255, 255, 255, 0.7);
	text-align: right;
	font-family: open;
	font-size: 2vw;
}
#sIUnit { /*Section unit description*/
	position: relative;
	width: 100%;
	top: 50%;
	margin-top: 2%;
	color: rgb(255, 255, 255, 0.7);
	text-align: right;
	font-family: openSemiBold;
	font-size: 1.2vw;
}
@keyframes sIMoveOut {
	100% {opacity: 0;}
}
@keyframes sIMoveIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(-1px);
	}
	to {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {
		opacity: 0;
		transform: translateX(200px);
	}
}








